<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>Grunt.js</title>

		<meta name="description" content="A framework for easily creating beautiful presentations using HTML">
		<meta name="author" content="Hakim El Hattab">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="css/reveal.min.css">
		<link rel="stylesheet" href="css/theme/blood.css" id="theme">
		<link rel="stylesheet" href="css/styles.css">

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- If the query includes 'print-pdf', include the PDF print sheet -->
		<script>
			if( window.location.search.match( /print-pdf/gi ) ) {
				var link = document.createElement( 'link' );
				link.rel = 'stylesheet';
				link.type = 'text/css';
				link.href = 'css/print/pdf.css';
				document.getElementsByTagName( 'head' )[0].appendChild( link );
			}
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">

				<section>
					<h1>Grunting Together</h1>
					<h3>Making sounds with our mouth</h3>
					<p>
						<small>Created by <a href="http://twitter.com/boyney123">@boyney123</a></small>
					</p>
				</section>

				<section>
					<h2>Example</h2>
				</section>
				<section>
					<img src="./imgs/joking.jpg" alt="">
				</section>

				<section>
					<h1>Grunt.js</h1>
					<h3>Not making sounds with our mouth</h3>
					<p>
						<small>Created by <a href="http://twitter.com/boyney123">@boyney123</a></small>
					</p>
				</section>

				<section>
					<h2>Welcome</h2>
					<img src="./imgs/whale.jpg" alt="">
				</section>

				<section>
					<h2>Who am I?</h2>
					<img src="./imgs/me.png" width="60%" alt="">
				</section>

				<section>
					<h3>Whats covered in this brownbag?</h3>
					<ul>
						<li>What is Grunt and its benefits?</li>
						<li>Getting Started with Grunt and the basics</li>
						<li>Grunt API and creating custom tasks</li>
						<li>Useful plugins and resources</li>
					</ul>
				</section>

				<section>
					<h2>What is Grunt and its benefits?</h2>
				</section>

				<section>
					<h2>Catch Phrase</h2>
					<p>Guess the software</p>
					<img src="./imgs/cphrase.gif" width="60%" alt="">
				</section>

				<section class="catchphrase">
					<img src="./imgs/rake.jpg" width="50%" alt="">
				</section>

				<section>
					<img src="./imgs/ant.jpg" alt="">
				</section>

				<section>
					<img src="./imgs/maven.png" alt="">
				</section>

				<section>
					<img src="./imgs/gulp.jpg" width="50%" alt="">
				</section>

				<section>
					<img src="./imgs/gruntLogo.png" alt="">
				</section>

				<section>
					<h2>Not comparing</h2>
				</section>

				<section>
					<h2>Benefits of grunt</h2>
					<ul>
						<li class="fragment">Up and running within minutes</li>
						<li class="fragment">Easy to use</li>
						<li class="fragment">Automate the boring stuff</li>
						<li class="fragment">Great community</li>
						<li class="fragment">Its JavaScript...</li>
					</ul>
				</section>

				<section>
					<h2>Its JavaScript!</h2>
					<img src="./imgs/dance.gif" width="50%" alt="">
				</section>

				<section>
					<h2>Who uses it?</h2>
					<img src="./imgs/useofgrunt.png" alt="">
				</section>

				<section>
					<h2>How can it help me?</h2>
					<ul>
						<li class="fragment">JSHint</li>
						<li class="fragment">Compress Images</li>
						<li class="fragment">Compress JS And CSS</li>
						<li class="fragment">Create Sprites</li>
						<li class="fragment">Remove unused CSS</li>
						<li class="fragment">And more...</li>
					</ul>
				</section>

				<section>
					<h2>Getting Hands On!</h2>
					<img src="./imgs/handson.jpg" width="40%" alt="">
				</section>

				<section>
					<h4>Installing the grunt Command Line Interface (CLI)</h4>
					<pre><code data-trim contenteditable>
npm install -g grunt-cli
					</code></pre>
					<aside class="notes">
						<ul>
							<li>This will put grunt command in your system path</li>
							<li>does not install the grunt rask runner</li>
							<li>Its job is to run the version of grunt which has been installed next to a gruntfile</li>
						</ul>
					</aside>
				</section>

				<section>
					<h4>How the CLI works</h4>
					<pre><code data-trim contenteditable>

try {
  gruntpath = resolve('grunt', {basedir: basedir});
} catch (ex) {
  gruntpath = findup('lib/grunt.js');
  // No grunt install found!
  if (!gruntpath) {
    if (options.version) { process.exit(); }
    if (options.help) { info.help(); }
    info.fatal('Unable to find local grunt.', 99);
  }
}

// Everything looks good. Require local grunt and run it.
require(gruntpath).cli();
					</code></pre>
					<small>Full file here <a href="https://github.com/gruntjs/grunt-cli/blob/master/bin/grunt">grunt.js</a></small>
					<aside class="notes">
						<ul>
							<li>Each time grunt is run it looks locally installed grunt using nodes require system</li>
							<li>You can run grunt in differnt folders for differnt versions of grunt</li>
							<li>If grunt is found, the cli loads the local install and applys your config to it and executes your tasks</li>
						</ul>
					</aside>
				</section>

				<section>
					<h4>package.json and GruntFile.js</h4>
				</section>

				<section>
					<h4>package.json</h4>
					<pre><code data-trim contenteditable>
{
  "name": "my-project-name",
  "version": "0.1.0",
  "devDependencies": {
    "grunt": "~0.4.2",
    "grunt-contrib-jshint": "~0.6.3",
    "grunt-contrib-nodeunit": "~0.2.0",
    "grunt-contrib-uglify": "~0.2.2"
  }
}
					</code></pre>
					<pre><code data-trim contenteditable>
npm init //command will create basic package.json file					
					</code></pre>
					<aside class="notes">
						<ul>
							<li>This will put grunt command in your system path</li>
							<li>does not install the grunt rask runner</li>
							<li>Its job is to run the version of grunt which has been installed next to a gruntfile</li>
						</ul>
					</aside>
				</section>

				<section>
					<h4>GruntFile.js</h4>
					<ol>
						<li class="fragment">Wrapper function</li>
						<li class="fragment">Task configuration</li>
						<li class="fragment">Loading Grunt tasks and plugins</li>
						<li class="fragment">Custom tasks</li>
					</ol>
				</section>

				<section>
					<h4>GruntFile.js in action</h4>
					<pre><code data-trim contenteditable>
//wrapper function
module.exports = function(grunt) {

  // Project configuration.
  grunt.initConfig({
    pkg: grunt.file.readJSON('package.json'),
    uglify: {
      options: {
        banner: '/*! <%= pkg.name %> <%= grunt.template.today("yyyy-mm-dd") %> */\n'
      },
      build: {
        src: 'src/<%= pkg.name %>.js',
        dest: 'build/<%= pkg.name %>.min.js'
      }
    }
  });

  // Load the plugin that provides the "uglify" task.
  grunt.loadNpmTasks('grunt-contrib-uglify');

  // Default task(s) and custom tasks
  grunt.registerTask('default', ['uglify']);

};
					</code></pre>
					<aside class="notes">
						<ul>
							<li>This will put grunt command in your system path</li>
							<li>does not install the grunt rask runner</li>
							<li>Its job is to run the version of grunt which has been installed next to a gruntfile</li>
						</ul>
					</aside>
				</section>

				<section>
					<h4>Installing a plugin - Is Easy!</h4>
					<img src="./imgs/easy.gif" width="70%" alt="">
					
				</section>

				<section>
					<h4>Four steps to install a plugin</h4>
					<ol>
						<li class="fragment">Installing using npm</li>
						<li class="fragment">Load plugin for use in the GruntFile</li>
						<li class="fragment">Configure plugin for use</li>
						<li class="fragment">Use and abuse</li>
					</ol>
				</section>

				<section>
					<h4>1. Installing a plugin</h4>
					<pre><code data-trim contenteditable>
npm install {plugin name} --save-dev
					</code></pre>
					<pre><code data-trim contenteditable>
npm install grunt-contrib-cssmin --save-dev
					</code></pre>
				</section>


				<section>
					<h4>2. Load plugin for use in the GruntFile</h4>
					<pre><code data-trim contenteditable>
grunt.loadNpmTasks({plugin name});
					</code></pre>
					<pre><code data-trim contenteditable>
grunt.loadNpmTasks('grunt-contrib-cssmin');
					</code></pre>
				</section>

				<section>
					<h4>3. Configure plugin for use</h4>
					<pre><code data-trim contenteditable>
//wrapper function
module.exports = function(grunt) {

  // Project configuration.
  grunt.initConfig({
    pkg: grunt.file.readJSON('package.json'),
    uglify: {
      options: {
        banner: '/*! <%= pkg.name %> <%= grunt.template.today("yyyy-mm-dd") %> */\n'
      },
      build: {
        src: 'src/<%= pkg.name %>.js',
        dest: 'build/<%= pkg.name %>.min.js'
      }
    },
    //Minify all contents of a release directory and add a .min.css extension
    cssmin: {
	minify: {
		    expand: true,
		    cwd: 'release/css/',
		    src: ['*.css', '!*.min.css'],
		    dest: 'release/css/',
		    ext: '.min.css'
		  }
}
  });

  // Load the plugin that provides the "uglify" task.
  grunt.loadNpmTasks('grunt-contrib-uglify');
  // Load the css min
  grunt.loadNpmTasks('grunt-contrib-cssmin');

  // Default task(s) and custom tasks
  grunt.registerTask('default', ['uglify', 'cssmin']);
  // New task to just minify the css
  grunt.registerTask('css', ['cssmin']);

};
					</code></pre>
				</section>

				<section>
					<h4>4. Use and Abuse</h4>
					<pre><code data-trim contenteditable>
grunt
					</code></pre>
										<pre><code data-trim contenteditable>
grunt css
					</code></pre>
				</section>

				<section>
					<h4>Grunt API</h4>
					<img src="./imgs/gruntapi.png" alt="">
				</section>

				<section>
					<h4>Useful Plugins</h4>
				</section>

				<section>
					<h4>grunt-contrib-watch</h4>
					<small>Run predefined tasks whenever watched file patterns are added, changed or deleted.</small>
					<pre><code data-trim contenteditable>
npm install grunt-contrib-watch --save-dev
					</code></pre>
					<pre><code data-trim contenteditable>
grunt.loadNpmTasks('grunt-contrib-watch');
					</code></pre>
					<pre><code>
watch: {
  scripts: {
    files: ['**/*.js'],
    tasks: ['jshint'],
    options: {
      spawn: false,
    },
  },
},
					</code></pre>
				</section>

				<section>
					<h4>grunt-prompt</h4>
					<small>Interactive prompt for your Grunt config using console checkboxes, text input with filtering, password fields.</small>
					<pre><code data-trim contenteditable>
npm install grunt-prompt --save-dev
					</code></pre>
					<pre><code data-trim contenteditable>
grunt.loadNpmTasks('grunt-prompt');
					</code></pre>
					<pre><code>
grunt.initConfig({
  prompt: {
    target: {
      options: {
        questions: [
          {
            config: 'config.name', // arbitray name or config for any other grunt task
            type: '<question type>', // list, checkbox, confirm, input, password
            message: 'Question to ask the user',
            default: 'value', // default value if nothing is entered
            choices: 'Array|function(answers)',
            validate: function(value), // return true if valid, error message if invalid
            filter:  function(value), // modify the answer
            when: function(answers) // only ask this question when this function returns true
          }
        ]
      }
    },
  },
})
					</code></pre>
				</section>

				<section>
					<h4>grunt-prompt in action</h4>
					<img src="./imgs/gruntpromt.gif" alt="">
				</section>

				<section>
					<h4>grunt-uncss</h4>
					<small>A grunt task for removing unused CSS from your projects. Works across multiple files and supports dynamically injected CSS via PhantomJS.</small>
					<pre><code data-trim contenteditable>
npm install grunt-uncss --save-dev
					</code></pre>
					<pre><code data-trim contenteditable>
grunt.loadNpmTasks('grunt-uncss');
					</code></pre>
					<pre><code>
uncss: {
  dist: {
    files: {
      'dist/css/tidy.css': ['app/index.html','app/about.html']
      }
    }
}
					</code></pre>
				</section>

				<section>
					<h4>grunt-contrib-imagemin</h4>
					<small>Minify PNG, JPEG and GIF images</small>
					<pre><code data-trim contenteditable>
npm install grunt-contrib-imagemin --save-dev
					</code></pre>
					<pre><code data-trim contenteditable>
grunt.loadNpmTasks('grunt-contrib-imagemin');
					</code></pre>
					<pre><code>
grunt.initConfig({
  imagemin: {                          // Task
    static: {                          // Target
      options: {                       // Target options
        optimizationLevel: 3
      },
      files: {                         // Dictionary of files
        'dist/img.png': 'src/img.png', // 'destination': 'source'
        'dist/img.jpg': 'src/img.jpg',
        'dist/img.gif': 'src/img.gif'
      }
    },
    dynamic: {                         // Another target
      files: [{
        expand: true,                  // Enable dynamic expansion
        cwd: 'src/',                   // Src matches are relative to this path
        src: ['**/*.{png,jpg,gif}'],   // Actual patterns to match
        dest: 'dist/'                  // Destination path prefix
      }]
    }
  }
});

grunt.loadNpmTasks('grunt-contrib-imagemin');
grunt.registerTask('default', ['imagemin']);
					</code></pre>
				</section>

				<section>
					<h4>grunt-inline-css</h4>
					<small>Takes an html file with css link and turns inline. Great for emails. It leverages the amazing juice library.</small>
					<pre><code data-trim contenteditable>
npm install grunt-inline-css --save-dev
					</code></pre>
					<pre><code data-trim contenteditable>
grunt.loadNpmTasks('grunt-inline-css');
					</code></pre>
					<pre><code>
grunt.initConfig({
    inlinecss: {
        main: {
            options: {
            },
            files: {
                'out.html': 'in.html'
            }
        }
    }
})
					</code></pre>
				</section>

				<section>
					<h4>http://gruntjs.com/plugins</h4>
					<img src="./imgs/gruntplugin.png" alt="">
				</section>

				<section>
					<p>gruntjs.com</p>
					<p>@gruntjs</p>
					<p>@gruntweekly</p>
				</section>


				<section>
					<h4>Summary</h4>
					<ol>
						<li class="fragment">Easy to setup and use</li>
						<li class="fragment">Its based on the one thing with love to play with during the day and at night... <span class="fragment">JavaScript</span></li>
						<li class="fragment">Huge community</li>
						<li class="fragment">Automation is key</li>
						<li class="fragment">Work less and do more</li>
						<li class="fragment">I look good in a wedding dress</li>
					</ol>
				</section>

				<section data-background="./imgs/unicorn.jpg">
					<h2>Thank you</h2>
				</section>


			</div>

		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.min.js"></script>

		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
				transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

				// Parallax scrolling
				// parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
				// parallaxBackgroundSize: '2100px 900px',

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
				]
			});

		</script>

	</body>
</html>
